@model DemoApp.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <h6>Suma zamówienia: @Model.OrderItems.Sum(q => q.Price) PLN</h6>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        
        <dd>
            <table class="table">
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Pikantność</th>
                </tr>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>@Html.DisplayFor(mitem => item.Name)</tr>
                    <tr>@Html.DisplayFor(mitem => item.Price)</tr>
                    <tr>@Html.DisplayFor(mitem => item.Hot)</tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
